# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# Local development environment
.service/
seed_data.rest

# SQLite database files
sqlite/
**/sqlite/
*.sqlite
*.db

# Ignore langchain_mcp.py file with sensitive data
**/demo.txt
**/demo.rest
**/demo.json